#signup_bg {
    background-image: url("http://localhost:8888/images/temp_signup.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100vh;
}
.login-col {
    width: 45.4545%;
}
.pad_top {
    padding-top: 50px;
}
.pad_bottom {
    padding-bottom: 30px;
}
